/* Mobile-first responsive design principles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  padding: 1rem;
  text-align: center;
}

header .logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
}

header .logo img {
  width: 50px;
  overflow: hidden;
}

header h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

header a {
  color: #fff;
}

header .nav-links {
  display: none;
}

header .burger .line {
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 5px;
  transition: all 0.3s ease-in-out;
}

/* Main */
main {
}

/* user input */

main .content .tabs {
  background: #f4f4f4;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main .content .tabs label {
    transform: translateX(-15px);
}

main .content .tabs input[type="radio"] {
  margin-right: 0.5rem;
  appearance: none;
}

main .content .tabs .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: 50%;
  font-size: 1.25rem;
  font-weight: 400;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

main .content .tabs .tab:nth-child(1) {
  background: #333;
  color: #fff;
}

input[type="radio"]:checked + .tab {
  color: #fff;
}

input[type="radio"]:checked + label {
  color: #fff;
  z-index: 2;
}

.tabs i {
  transform: translateX(15px);
}

input[id="artist"]:checked ~ .output div#artist-form {
  transform: translateX(0);
}

input[id="studio"]:checked ~ .output div#studio-form {
  transform: translateX(0);
}

input[id="artist"]:checked ~ .glider {
  transform: translateX(0);
}

input[id="studio"]:checked ~ .glider {
  transform: translateX(100%);
}

.glider {
  position: absolute;
  display: flex;
  height: 54px;
  width: 50%;
  background-color: black;
  z-index: 1;
  transition: transform 0.25s ease-in-out;
}

/* main output */

div.output {
  background: #f4f4f4;
  padding: 1rem;
  border-radius: 5px;
}

div.output div#artist-form {
  display: block;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div.output div#studio-form {
  display: none;
}

div.output h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

div.output p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

div.output button {
  background: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

div.output div.img-container img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
