/* Mobile-first responsive design principles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  padding: 1rem;
  text-align: center;
  position: relative;
}

header .logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}

header .logo img {
  width: 50px;
  overflow: hidden;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: #fff;
}

header .nav-links {
  display: none;
}

header .burger {
  display: block;
  cursor: pointer;
}

header .burger #line1,
header .burger #line2,
header .burger #line3 {
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 5px;
  transition: all 0.3s ease-in-out;
}

header.active {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header .burger.active #line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

header .burger.active #line2 {
  opacity: 0;
}

header .burger.active #line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

header nav .nav-links.active {
  display: flex;
  flex-direction: row;
}

header nav .nav-links.active li {
  padding: 0.35rem 1rem;
}

/* Main */

/* user input */

main .content .tabs {
  background: #f4f4f4;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

main .content .tabs label {
  transform: translateX(-15px);
}

main .content .tabs input[type="radio"] {
  margin-right: 0.5rem;
  appearance: none;
}

main .content .tabs .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: 50%;
  font-size: 1.25rem;
  font-weight: 400;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

main .content .tabs .tab:nth-child(1) {
  background: #333;
  color: #fff;
}

input[type="radio"]:checked + .tab {
  color: #fff;
}

input[type="radio"]:checked + label {
  color: #fff;
  z-index: 2;
}

.tabs i {
  transform: translateX(15px);
}

input[id="artist"]:checked ~ .output div#artist-form {
  transform: translateX(0);
}

input[id="studio"]:checked ~ .output div#studio-form {
  transform: translateX(0);
}

input[id="artist"]:checked ~ .glider {
  transform: translateX(0);
}

input[id="studio"]:checked ~ .glider {
  transform: translateX(100%);
}

.glider {
  position: absolute;
  display: flex;
  height: 54px;
  width: 50%;
  background-color: #333;
  z-index: 1;
  transition: transform 0.25s ease-in-out;
}

/* main output */

div.output {
  background: #f4f4f4;
  border-radius: 5px;
}

div.output .output-form {
  /* center */
  text-align: center;
}

div.output div#artist-form {
  display: block;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div.output div#studio-form {
  display: none;
}

div.output h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

div.output p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

div.output button {
  background: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

div.output div.img-container {
  width: 100%;
  height: 300px;
  display: grid;
}

div.output div.img-container#artist-img {
  background: url(./assets/img/splash_artist.png) no-repeat center center/cover;
}

div.output div.img-container#studio-img {
  background: url(./assets/img/splash_studio.png) no-repeat center center/cover;
}

div.output div.img-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
}

div.output div.img-container form label {
  background-color: black;
  opacity: 0.8;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

div.output div.img-container form input[type="email"] {
  width: 80%;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 5px;
  border: none;
}

div.output div.img-container form input[type="submit"] {
  background: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

/* how-it-works section */

section.how-it-works {
  /* use a nice yellow */
  background: #f4f4f4;
  padding: 1rem;

  color: #333;

  text-align: center;
}

section.how-it-works h1 {
  font-size: 1.5rem;
}

section.how-it-works h2 {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

section.how-it-works p {
  font-size: 0.75rem;
}

section.how-it-works .steps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
}

/* footer */

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

footer div.footer-content div.footer-section .logo-text {
  font-size: 1.5rem;
  font-weight: 700;
}

footer div.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer div.contact span {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
